fastapi
uvicorn[standard]
pydantic
python-multipart
httpx
requests
beautifulsoup4
python-dotenv
openai
google-generativeai
pytube
youtube-transcript-api
playwright
vaderSentiment
textblob==0.18.0.post0
youtube-comment-downloader==0.1.78